.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */

/* styling for whole characters list */
.characters-list {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}
@media (max-width: 600px) {
  .characters-list {
    flex-direction: column;
    align-items: center;
  }
}